address{
    text-align:right;
    letter-spacing: 0px;
    text-indent: 50px;
}
p{
    letter-spacing: -0.5px;
}
html{
    color: rgb(8, 12, 12);
}
article{
    
    text-indent: 10px;
}